<div id="mayhakStatusBoardEmployeeList">
    {% partial "statusBoard::board" %}
</div>

<div id="mayhakStatusBoardModal">
    <div class="container">
        <div class="row">
            <h1 id="mayhakStatusBoardEmployeeFullName"></h1>
            <div class="col-sm-3 mayhak-statusboard well well-sm mayhak-statusboard-active mayhak-statusboard-update"
                 data-employee-status="active">
                <h4><i class="fa fa-desktop"></i> In Office</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3 mayhak-statusboard well well-sm mayhak-statusboard-otl mayhak-statusboard-update"
                 data-employee-status="otl">
                <h4><i class="fa fa-cutlery"></i> Out to Lunch</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3 mayhak-statusboard well well-sm mayhak-statusboard-pto mayhak-statusboard-update"
                 data-employee-status="pto">
                <h4><i class="fa fa-beer"></i> Paid Time Off</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 mayhak-statusboard well well-sm mayhak-statusboard-away mayhak-statusboard-update"
                 data-employee-status="away">
                <h4><i class="fa fa-clock-o"></i> Out of Office</h4>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-sm-3 mayhak-statusboard well well-sm mayhak-statusboard-cancel">
                <h4><i class="fa fa-times"></i> Cancel</h4>
            </div>
        </div>
    </div>
</div>

<div id="mayhakStatusBoardFade"></div>